aiofiles>=24.1.0
APScheduler>=3.11.0
cachetools
certifi
easyocr
filelock
fsspec
greenlet
imageio
Jinja2
lazy_loader
MarkupSafe
mpmath
networkx
ninja
numpy
opencv-python-headless
packaging
pillow
playwright
pyclipper
pyee
PyMuPDF
PyPDF2
python-bidi
python-telegram-bot
pytz
PyYAML
scikit-image
scipy
setuptools
shapely
six
sympy
tifffile
torch
torchaudio
torchvision
tornado
typing_extensions
tzdata
tzlocal
urllib3